.add{
  margin-top: 20px;
  padding-top: 30px;
}
.d1{
  border-width:0.5px;
  border-color: black;
  border-style: solid;
  height:120px;
  width:600px;
 
}
.d2{
  height:25px;
  width: 500px;
}
.b1{
  color:white;
  width:511px;
  height:30px;
  background-color: rgb(77, 179, 213);
}
.d3{
  width:600px;
  height:50px;
  border: 0.1px solid rgb(228, 225, 225);
  margin:10px;
  display:flex;
}
.b2{
  width:165px;
  height:30px;
  color:white;
  background-color: rgb(77, 179, 213);
  margin-left: 30px;
}
.d4{
  background-color: black;
  width:600px;
  height:100px;
}
.b3{
  width:250px;
  height:30px;
  background-color: brown;
}
.d6{
  height:50px;
  width:510px;

}
.d5{
  height:50px;
  width:90px;
  justify-content: center;
  padding-top: 10px;
}

